const config = {
    url:'',
    wpAPI           : 'wc-api',
    wpAPIPrefix     : 'wp-json',
    version         : 'v3',
    isSsl           : false,
    consumerKey     : '',
    consumerSecret  : '',
    verifySsl       : false,
    encoding        : 'utf8',
    queryStringAuth : false,
    port            : '',
    timeout         : 0
};

config.isSsl = /^https/i.test(config.url);


export default config;

